.hero-section-container {
  height: 70vh;
  background-image: url("../../img/img1.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 600px;
  font-family: Manrope;
  position: relative;
}

.hero-section-container h1 {
  font-weight: 700;
}

.hero-detail {
  max-width: 500px;
}

.hero-card {
  position: absolute;
  top: 10%;
  left: 55%;
  height: 250px;
  width: 200px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  font-family: Manrope;
}

.hero-card h6 {
  font-weight: 700;
}

.hero-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .hero-section-container {
    background-size: 100%;
    width: 100vw;
    overflow: hidden;
  }

  .hero-section-container h1 {
    width: 1000vw;
  }

  .hero-section-container p {
    width: 90vw !important;
  }
  .hero-card {
    left: 0 !important;
    top: 50% !important;
    left: 3% !important;
    height: 200px;
    width: 130px;

  }

  .hero-card h6,
  p {
    font-size: 12px;
  }

  .hero-card button {
    font-size: 10px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1250px) {
  .hero-card {
    visibility: hidden;
  }
}
