.blog-container{
    font-family: Quicksand;
}

.blog-container h1{
    font-weight: 800;
}
.blog-container p{
    font-weight: 600;
}
.blog-container h5, h6{
    font-weight: 600;
}
.blog-container img{
    max-height: 400px;
}

.blog-image{
    max-width: 500px;
}
.blog-detail{
    max-width: 700px;
    /* text-align: justify; */
}

@media screen and (max-width: 768px) {
    .blog-image{
        max-width: 300px;
    }
    .blog-detail{
        max-width: 100%;
    }
}
    
