.about-me-title h1 {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 3px solid #ccc;
  font-family: "Ubuntu", sans-serif;
}

.about-me-container {
  font-family: "Ubuntu", sans-serif;
}

.about-me-text-container {
  width: 60%;
}

.about-me-text-container p {
  line-height: 2;
}

.about-me-image-container {
  width: 50%;
}

.about-me-img {
  width: 500px;
  height: 500px;
}

.leaflet-text h5 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .about-me-text-container {
    width: 100%;
    font-weight: 700;
  }

  .about-me-image-container {
    width: 100%;
  }

  .about-me-img {
    width: 350px;
    height: 350px;
  }
}
