.about{
    font-family: Quicksand;
}

.about h3{
    font-weight: 700;
}

@media screen and (max-width: 768px){
    .food-one-text{
        width: 100% !important;
        margin-top: 20px;
    }
    .food-two-text{
        width: 100% !important;
        margin-top: 20px;
    }
}
    
