.create-new-account {
  cursor: pointer;
}

.forget-pass {
  cursor: pointer;
}

.login-container {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .login-container {
    width: 90% !important;
  }
}

/* .login-box {
  padding-top: 100px;
} */
