.charts{
    overflow-x: hidden;

}

.area-chart{
    height: 300px;
    width: 100%;
}

.chart-heading{
    font-family: Sandbox;
    font-weight: 700;
    color: #F46A06
}

/* @media screen and (max-width: 768px){
    .area-chart{

    }
} */
    
